@import 
    'base'
    ;

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #DDD;
  background: -webkit-linear-gradient(left, #DDD 0%, #FFF 20%, #FFF 80%, #DDD 100%);
  background: -o-linear-gradient(left, #DDD 0%, #FFF 20%, #FFF 80%, #DDD 100%);
  background: linear-gradient(to right, #DDD 0%, #FFF 20%, #FFF 80%, #DDD 100%);
  // margin-bottom: 85px;
  margin-top: 56px;


}

.iconrow-lg {
  margin-top: 100px;
  .icon {
    font-size: 64px;
  }
  a:hover {
    text-decoration: none;
  }
  .btn {
    margin-top: 30px;
  }
  input {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.modelrange .row a .modelitem span {
  margin-top: -12px;
}

.carousel-inner .item:hover {
  background-color: #E8E9EA;
}

.modelitem.active {
  background-color: #E8E9EA;
  border-bottom: 2px solid #D2001E;
}

section h1 {
  border-bottom: 1px solid #C9C9C9;
  text-align: center;
}

.promotion h5 {
  border-bottom: 1px solid #C9C9C9;
  margin-top: 30px;
}
.buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}

// .navbar-fixed-top {
//   position: static !important;
// }

.navbar-fixed-top.navbar-inverse {
  background: #1E2A32;
  .breadcrumb li.active > a,
  .breadcrumb li.active > a:hover {
    color: #fff;
    }
  .button-wrapper {
    width: auto;
    display: inline-block;
    .btn {
      margin: 10px 10px 10px 0;
    }
  }
}

// fixed footer
// section.footer {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   height: 85px;
//   a {
//     color: #fff;
//   }
//   &.spotlights {
//     padding-bottom: 0;
//   }
// }

// carousel
h4 {
    margin: 20px 10px 10px;
}
p {
    margin: 10px;
}

.carconfig-mini .carconfig-mini-preview {
  margin-top: 60px;
}

.carousel-indicators {
    margin: 10px 0 0;

    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
.carousel-indicators li {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: 130px;
}
.carousel-indicators li img {
    display: block;
    opacity: 1;
    padding: 0 10px;
}

.carousel-indicators li:hover {
  background-color: #E8E9EA;
}
.carousel-indicators .active {
  width: 130px;
  height: auto;
  background-color: #E8E9EA;
  border-bottom: 2px solid #D2001E;
}
.carousel-indicators li.active img {
    opacity: 0.5;
    display: block;
}
.carousel-indicators li:hover img {
    opacity: 0.75;
}
.carousel-outer {
    position: relative;
}

.open>.dropdown-menu {
  display: block !important;
}